=begin
#EVE Stable Infrastructure (ESI) - tranquility

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2020-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module ESI
  class CharacterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get character's public information
    # Public information about a character
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [CharactersCharacterIdGet]
    def get_characters_character_id(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get character&#39;s public information
    # Public information about a character
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(CharactersCharacterIdGet, Integer, Hash)>] CharactersCharacterIdGet data, response status code and response headers
    def get_characters_character_id_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CharactersCharacterIdGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get agents research
    # Return a list of agents research information for a character. The formula for finding the current research points with an agent is: currentPoints = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdAgentsResearchGetInner>]
    def get_characters_character_id_agents_research(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_agents_research_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get agents research
    # Return a list of agents research information for a character. The formula for finding the current research points with an agent is: currentPoints &#x3D; remainderPoints + pointsPerDay * days(currentTime - researchStartDate)
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdAgentsResearchGetInner>, Integer, Hash)>] Array<CharactersCharacterIdAgentsResearchGetInner> data, response status code and response headers
    def get_characters_character_id_agents_research_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_agents_research ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_agents_research"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_agents_research"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/agents_research'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdAgentsResearchGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_agents_research",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_agents_research\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blueprints
    # Return a list of blueprints the character owns
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdBlueprintsGetInner>]
    def get_characters_character_id_blueprints(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_blueprints_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get blueprints
    # Return a list of blueprints the character owns
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdBlueprintsGetInner>, Integer, Hash)>] Array<CharactersCharacterIdBlueprintsGetInner> data, response status code and response headers
    def get_characters_character_id_blueprints_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_blueprints ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_blueprints"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_blueprints"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CharacterApi.get_characters_character_id_blueprints, must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/blueprints'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdBlueprintsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_blueprints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_blueprints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get corporation history
    # Get a list of all the corporations a character has been a member of
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdCorporationhistoryGetInner>]
    def get_characters_character_id_corporationhistory(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_corporationhistory_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get corporation history
    # Get a list of all the corporations a character has been a member of
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdCorporationhistoryGetInner>, Integer, Hash)>] Array<CharactersCharacterIdCorporationhistoryGetInner> data, response status code and response headers
    def get_characters_character_id_corporationhistory_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_corporationhistory ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_corporationhistory"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_corporationhistory"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/corporationhistory'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdCorporationhistoryGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_corporationhistory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_corporationhistory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get jump fatigue
    # Return a character's jump activation and fatigue information
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [CharactersCharacterIdFatigueGet]
    def get_characters_character_id_fatigue(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_fatigue_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get jump fatigue
    # Return a character&#39;s jump activation and fatigue information
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(CharactersCharacterIdFatigueGet, Integer, Hash)>] CharactersCharacterIdFatigueGet data, response status code and response headers
    def get_characters_character_id_fatigue_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_fatigue ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_fatigue"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_fatigue"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/fatigue'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CharactersCharacterIdFatigueGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_fatigue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_fatigue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get medals
    # Return a list of medals the character has
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdMedalsGetInner>]
    def get_characters_character_id_medals(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_medals_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get medals
    # Return a list of medals the character has
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdMedalsGetInner>, Integer, Hash)>] Array<CharactersCharacterIdMedalsGetInner> data, response status code and response headers
    def get_characters_character_id_medals_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_medals ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_medals"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_medals"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/medals'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdMedalsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_medals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_medals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get character notifications
    # Return character notifications
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdNotificationsGetInner>]
    def get_characters_character_id_notifications(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_notifications_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get character notifications
    # Return character notifications
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdNotificationsGetInner>, Integer, Hash)>] Array<CharactersCharacterIdNotificationsGetInner> data, response status code and response headers
    def get_characters_character_id_notifications_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_notifications ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_notifications"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_notifications"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/notifications'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdNotificationsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_notifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get new contact notifications
    # Return notifications about having been added to someone's contact list
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdNotificationsContactsGetInner>]
    def get_characters_character_id_notifications_contacts(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_notifications_contacts_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get new contact notifications
    # Return notifications about having been added to someone&#39;s contact list
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdNotificationsContactsGetInner>, Integer, Hash)>] Array<CharactersCharacterIdNotificationsContactsGetInner> data, response status code and response headers
    def get_characters_character_id_notifications_contacts_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_notifications_contacts ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_notifications_contacts"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_notifications_contacts"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/notifications/contacts'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdNotificationsContactsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_notifications_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_notifications_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get character portraits
    # Get portrait urls for a character  This route expires daily at 11:05
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [CharactersCharacterIdPortraitGet]
    def get_characters_character_id_portrait(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_portrait_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get character portraits
    # Get portrait urls for a character  This route expires daily at 11:05
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(CharactersCharacterIdPortraitGet, Integer, Hash)>] CharactersCharacterIdPortraitGet data, response status code and response headers
    def get_characters_character_id_portrait_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_portrait ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_portrait"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_portrait"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/portrait'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CharactersCharacterIdPortraitGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_portrait",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_portrait\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get character corporation roles
    # Returns a character's corporation roles
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [CharactersCharacterIdRolesGet]
    def get_characters_character_id_roles(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_roles_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get character corporation roles
    # Returns a character&#39;s corporation roles
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(CharactersCharacterIdRolesGet, Integer, Hash)>] CharactersCharacterIdRolesGet data, response status code and response headers
    def get_characters_character_id_roles_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_roles ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_roles"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_roles"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/roles'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CharactersCharacterIdRolesGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get standings
    # Return character standings from agents, NPC corporations, and factions
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdStandingsGetInner>]
    def get_characters_character_id_standings(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_standings_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get standings
    # Return character standings from agents, NPC corporations, and factions
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdStandingsGetInner>, Integer, Hash)>] Array<CharactersCharacterIdStandingsGetInner> data, response status code and response headers
    def get_characters_character_id_standings_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_standings ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_standings"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_standings"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/standings'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdStandingsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_standings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_standings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get character corporation titles
    # Returns a character's titles
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdTitlesGetInner>]
    def get_characters_character_id_titles(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_titles_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Get character corporation titles
    # Returns a character&#39;s titles
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdTitlesGetInner>, Integer, Hash)>] Array<CharactersCharacterIdTitlesGetInner> data, response status code and response headers
    def get_characters_character_id_titles_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.get_characters_character_id_titles ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.get_characters_character_id_titles"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.get_characters_character_id_titles"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/titles'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdTitlesGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.get_characters_character_id_titles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#get_characters_character_id_titles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Character affiliation
    # Bulk lookup of character IDs to corporation, alliance and faction
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersAffiliationPostInner>]
    def post_characters_affiliation(x_compatibility_date, request_body, opts = {})
      data, _status_code, _headers = post_characters_affiliation_with_http_info(x_compatibility_date, request_body, opts)
      data
    end

    # Character affiliation
    # Bulk lookup of character IDs to corporation, alliance and faction
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersAffiliationPostInner>, Integer, Hash)>] Array<CharactersAffiliationPostInner> data, response status code and response headers
    def post_characters_affiliation_with_http_info(x_compatibility_date, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.post_characters_affiliation ...'
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.post_characters_affiliation"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling CharacterApi.post_characters_affiliation"
      end
      if @api_client.config.client_side_validation && request_body.length > 1000
        fail ArgumentError, 'invalid value for "request_body" when calling CharacterApi.post_characters_affiliation, number of items must be less than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && request_body.length < 1
        fail ArgumentError, 'invalid value for "request_body" when calling CharacterApi.post_characters_affiliation, number of items must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/affiliation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersAffiliationPostInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CharacterApi.post_characters_affiliation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#post_characters_affiliation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate a CSPA charge cost
    # Takes a source character ID in the url and a set of target character ID's in the body, returns a CSPA charge cost
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Float]
    def post_characters_character_id_cspa(character_id, x_compatibility_date, request_body, opts = {})
      data, _status_code, _headers = post_characters_character_id_cspa_with_http_info(character_id, x_compatibility_date, request_body, opts)
      data
    end

    # Calculate a CSPA charge cost
    # Takes a source character ID in the url and a set of target character ID&#39;s in the body, returns a CSPA charge cost
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Float, Integer, Hash)>] Float data, response status code and response headers
    def post_characters_character_id_cspa_with_http_info(character_id, x_compatibility_date, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CharacterApi.post_characters_character_id_cspa ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling CharacterApi.post_characters_character_id_cspa"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling CharacterApi.post_characters_character_id_cspa"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling CharacterApi.post_characters_character_id_cspa"
      end
      if @api_client.config.client_side_validation && request_body.length > 100
        fail ArgumentError, 'invalid value for "request_body" when calling CharacterApi.post_characters_character_id_cspa, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && request_body.length < 1
        fail ArgumentError, 'invalid value for "request_body" when calling CharacterApi.post_characters_character_id_cspa, number of items must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/cspa'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Float'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"CharacterApi.post_characters_character_id_cspa",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CharacterApi#post_characters_character_id_cspa\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
