=begin
#EVE Stable Infrastructure (ESI) - tranquility

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2020-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module ESI
  class IndustryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List character industry jobs
    # List industry jobs placed by a character
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_completed 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdIndustryJobsGetInner>]
    def get_characters_character_id_industry_jobs(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_industry_jobs_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # List character industry jobs
    # List industry jobs placed by a character
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_completed 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdIndustryJobsGetInner>, Integer, Hash)>] Array<CharactersCharacterIdIndustryJobsGetInner> data, response status code and response headers
    def get_characters_character_id_industry_jobs_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_characters_character_id_industry_jobs ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling IndustryApi.get_characters_character_id_industry_jobs"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_characters_character_id_industry_jobs"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/industry/jobs'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_completed'] = opts[:'include_completed'] if !opts[:'include_completed'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdIndustryJobsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"IndustryApi.get_characters_character_id_industry_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_characters_character_id_industry_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Character mining ledger
    # Paginated record of all mining done by a character for the past 30 days
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CharactersCharacterIdMiningGetInner>]
    def get_characters_character_id_mining(character_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_mining_with_http_info(character_id, x_compatibility_date, opts)
      data
    end

    # Character mining ledger
    # Paginated record of all mining done by a character for the past 30 days
    # @param character_id [Integer] The ID of the character
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CharactersCharacterIdMiningGetInner>, Integer, Hash)>] Array<CharactersCharacterIdMiningGetInner> data, response status code and response headers
    def get_characters_character_id_mining_with_http_info(character_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_characters_character_id_mining ...'
      end
      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling IndustryApi.get_characters_character_id_mining"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_characters_character_id_mining"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IndustryApi.get_characters_character_id_mining, must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/mining'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CharactersCharacterIdMiningGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"IndustryApi.get_characters_character_id_mining",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_characters_character_id_mining\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Moon extraction timers
    # Extraction timers for all moon chunks being extracted by refineries belonging to a corporation.
    # @param corporation_id [Integer] The ID of the corporation
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CorporationCorporationIdMiningExtractionsGetInner>]
    def get_corporation_corporation_id_mining_extractions(corporation_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_corporation_corporation_id_mining_extractions_with_http_info(corporation_id, x_compatibility_date, opts)
      data
    end

    # Moon extraction timers
    # Extraction timers for all moon chunks being extracted by refineries belonging to a corporation.
    # @param corporation_id [Integer] The ID of the corporation
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CorporationCorporationIdMiningExtractionsGetInner>, Integer, Hash)>] Array<CorporationCorporationIdMiningExtractionsGetInner> data, response status code and response headers
    def get_corporation_corporation_id_mining_extractions_with_http_info(corporation_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_corporation_corporation_id_mining_extractions ...'
      end
      # verify the required parameter 'corporation_id' is set
      if @api_client.config.client_side_validation && corporation_id.nil?
        fail ArgumentError, "Missing the required parameter 'corporation_id' when calling IndustryApi.get_corporation_corporation_id_mining_extractions"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_corporation_corporation_id_mining_extractions"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IndustryApi.get_corporation_corporation_id_mining_extractions, must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/corporation/{corporation_id}/mining/extractions'.sub('{' + 'corporation_id' + '}', CGI.escape(corporation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CorporationCorporationIdMiningExtractionsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"IndustryApi.get_corporation_corporation_id_mining_extractions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_corporation_corporation_id_mining_extractions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Corporation mining observers
    # Paginated list of all entities capable of observing and recording mining for a corporation
    # @param corporation_id [Integer] The ID of the corporation
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CorporationCorporationIdMiningObserversGetInner>]
    def get_corporation_corporation_id_mining_observers(corporation_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_corporation_corporation_id_mining_observers_with_http_info(corporation_id, x_compatibility_date, opts)
      data
    end

    # Corporation mining observers
    # Paginated list of all entities capable of observing and recording mining for a corporation
    # @param corporation_id [Integer] The ID of the corporation
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CorporationCorporationIdMiningObserversGetInner>, Integer, Hash)>] Array<CorporationCorporationIdMiningObserversGetInner> data, response status code and response headers
    def get_corporation_corporation_id_mining_observers_with_http_info(corporation_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_corporation_corporation_id_mining_observers ...'
      end
      # verify the required parameter 'corporation_id' is set
      if @api_client.config.client_side_validation && corporation_id.nil?
        fail ArgumentError, "Missing the required parameter 'corporation_id' when calling IndustryApi.get_corporation_corporation_id_mining_observers"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_corporation_corporation_id_mining_observers"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IndustryApi.get_corporation_corporation_id_mining_observers, must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/corporation/{corporation_id}/mining/observers'.sub('{' + 'corporation_id' + '}', CGI.escape(corporation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CorporationCorporationIdMiningObserversGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"IndustryApi.get_corporation_corporation_id_mining_observers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_corporation_corporation_id_mining_observers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Observed corporation mining
    # Paginated record of all mining seen by an observer
    # @param corporation_id [Integer] The ID of the corporation
    # @param observer_id [Integer] 
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CorporationCorporationIdMiningObserversObserverIdGetInner>]
    def get_corporation_corporation_id_mining_observers_observer_id(corporation_id, observer_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_corporation_corporation_id_mining_observers_observer_id_with_http_info(corporation_id, observer_id, x_compatibility_date, opts)
      data
    end

    # Observed corporation mining
    # Paginated record of all mining seen by an observer
    # @param corporation_id [Integer] The ID of the corporation
    # @param observer_id [Integer] 
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CorporationCorporationIdMiningObserversObserverIdGetInner>, Integer, Hash)>] Array<CorporationCorporationIdMiningObserversObserverIdGetInner> data, response status code and response headers
    def get_corporation_corporation_id_mining_observers_observer_id_with_http_info(corporation_id, observer_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_corporation_corporation_id_mining_observers_observer_id ...'
      end
      # verify the required parameter 'corporation_id' is set
      if @api_client.config.client_side_validation && corporation_id.nil?
        fail ArgumentError, "Missing the required parameter 'corporation_id' when calling IndustryApi.get_corporation_corporation_id_mining_observers_observer_id"
      end
      # verify the required parameter 'observer_id' is set
      if @api_client.config.client_side_validation && observer_id.nil?
        fail ArgumentError, "Missing the required parameter 'observer_id' when calling IndustryApi.get_corporation_corporation_id_mining_observers_observer_id"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_corporation_corporation_id_mining_observers_observer_id"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IndustryApi.get_corporation_corporation_id_mining_observers_observer_id, must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/corporation/{corporation_id}/mining/observers/{observer_id}'.sub('{' + 'corporation_id' + '}', CGI.escape(corporation_id.to_s)).sub('{' + 'observer_id' + '}', CGI.escape(observer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CorporationCorporationIdMiningObserversObserverIdGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"IndustryApi.get_corporation_corporation_id_mining_observers_observer_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_corporation_corporation_id_mining_observers_observer_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List corporation industry jobs
    # List industry jobs run by a corporation
    # @param corporation_id [Integer] The ID of the corporation
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_completed  (default to false)
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<CorporationsCorporationIdIndustryJobsGetInner>]
    def get_corporations_corporation_id_industry_jobs(corporation_id, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_corporations_corporation_id_industry_jobs_with_http_info(corporation_id, x_compatibility_date, opts)
      data
    end

    # List corporation industry jobs
    # List industry jobs run by a corporation
    # @param corporation_id [Integer] The ID of the corporation
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_completed  (default to false)
    # @option opts [Integer] :page 
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<CorporationsCorporationIdIndustryJobsGetInner>, Integer, Hash)>] Array<CorporationsCorporationIdIndustryJobsGetInner> data, response status code and response headers
    def get_corporations_corporation_id_industry_jobs_with_http_info(corporation_id, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_corporations_corporation_id_industry_jobs ...'
      end
      # verify the required parameter 'corporation_id' is set
      if @api_client.config.client_side_validation && corporation_id.nil?
        fail ArgumentError, "Missing the required parameter 'corporation_id' when calling IndustryApi.get_corporations_corporation_id_industry_jobs"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_corporations_corporation_id_industry_jobs"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling IndustryApi.get_corporations_corporation_id_industry_jobs, must be greater than or equal to 1.'
      end

      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/corporations/{corporation_id}/industry/jobs'.sub('{' + 'corporation_id' + '}', CGI.escape(corporation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_completed'] = opts[:'include_completed'] if !opts[:'include_completed'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CorporationsCorporationIdIndustryJobsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"IndustryApi.get_corporations_corporation_id_industry_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_corporations_corporation_id_industry_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List industry facilities
    # Return a list of industry facilities
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<IndustryFacilitiesGetInner>]
    def get_industry_facilities(x_compatibility_date, opts = {})
      data, _status_code, _headers = get_industry_facilities_with_http_info(x_compatibility_date, opts)
      data
    end

    # List industry facilities
    # Return a list of industry facilities
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<IndustryFacilitiesGetInner>, Integer, Hash)>] Array<IndustryFacilitiesGetInner> data, response status code and response headers
    def get_industry_facilities_with_http_info(x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_industry_facilities ...'
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_industry_facilities"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/industry/facilities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<IndustryFacilitiesGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustryApi.get_industry_facilities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_industry_facilities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List solar system cost indices
    # Return cost indices for solar systems
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<IndustrySystemsGetInner>]
    def get_industry_systems(x_compatibility_date, opts = {})
      data, _status_code, _headers = get_industry_systems_with_http_info(x_compatibility_date, opts)
      data
    end

    # List solar system cost indices
    # Return cost indices for solar systems
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<IndustrySystemsGetInner>, Integer, Hash)>] Array<IndustrySystemsGetInner> data, response status code and response headers
    def get_industry_systems_with_http_info(x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustryApi.get_industry_systems ...'
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling IndustryApi.get_industry_systems"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/industry/systems'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<IndustrySystemsGetInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustryApi.get_industry_systems",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustryApi#get_industry_systems\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
