=begin
#EVE Stable Infrastructure (ESI) - tranquility

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2020-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module ESI
  class RoutesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get route
    # Get the systems between origin and destination
    # @param destination [Integer] 
    # @param origin [Integer] 
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :avoid 
    # @option opts [Array<Array<Integer>>] :connections 
    # @option opts [String] :flag  (default to 'shortest')
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<Integer>]
    def get_route_origin_destination(destination, origin, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_route_origin_destination_with_http_info(destination, origin, x_compatibility_date, opts)
      data
    end

    # Get route
    # Get the systems between origin and destination
    # @param destination [Integer] 
    # @param origin [Integer] 
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :avoid 
    # @option opts [Array<Array<Integer>>] :connections 
    # @option opts [String] :flag  (default to 'shortest')
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(Array<Integer>, Integer, Hash)>] Array<Integer> data, response status code and response headers
    def get_route_origin_destination_with_http_info(destination, origin, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutesApi.get_route_origin_destination ...'
      end
      # verify the required parameter 'destination' is set
      if @api_client.config.client_side_validation && destination.nil?
        fail ArgumentError, "Missing the required parameter 'destination' when calling RoutesApi.get_route_origin_destination"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling RoutesApi.get_route_origin_destination"
      end
      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling RoutesApi.get_route_origin_destination"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'avoid'].nil? && opts[:'avoid'].length > 100
        fail ArgumentError, 'invalid value for "opts[:"avoid"]" when calling RoutesApi.get_route_origin_destination, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'connections'].nil? && opts[:'connections'].length > 100
        fail ArgumentError, 'invalid value for "opts[:"connections"]" when calling RoutesApi.get_route_origin_destination, number of items must be less than or equal to 100.'
      end

      allowable_values = ["shortest", "secure", "insecure"]
      if @api_client.config.client_side_validation && opts[:'flag'] && !allowable_values.include?(opts[:'flag'])
        fail ArgumentError, "invalid value for \"flag\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/route/{origin}/{destination}'.sub('{' + 'destination' + '}', CGI.escape(destination.to_s)).sub('{' + 'origin' + '}', CGI.escape(origin.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'avoid'] = @api_client.build_collection_param(opts[:'avoid'], :multi) if !opts[:'avoid'].nil?
      query_params[:'connections'] = @api_client.build_collection_param(opts[:'connections'], :multi) if !opts[:'connections'].nil?
      query_params[:'flag'] = opts[:'flag'] if !opts[:'flag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Integer>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoutesApi.get_route_origin_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutesApi#get_route_origin_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
