=begin
#EVE Stable Infrastructure (ESI) - tranquility

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2020-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module ESI
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search on a string
    # Search for entities that match a given sub-string.
    # @param categories [Array<String>] 
    # @param character_id [Integer] The ID of the character
    # @param search [String] 
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :strict  (default to false)
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [CharactersCharacterIdSearchGet]
    def get_characters_character_id_search(categories, character_id, search, x_compatibility_date, opts = {})
      data, _status_code, _headers = get_characters_character_id_search_with_http_info(categories, character_id, search, x_compatibility_date, opts)
      data
    end

    # Search on a string
    # Search for entities that match a given sub-string.
    # @param categories [Array<String>] 
    # @param character_id [Integer] The ID of the character
    # @param search [String] 
    # @param x_compatibility_date [Date] The compatibility date for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :strict  (default to false)
    # @option opts [String] :accept_language The language to use for the response. (default to 'en')
    # @option opts [String] :if_none_match The ETag of the previous request. A 304 will be returned if this matches the current ETag.
    # @option opts [String] :x_tenant The tenant ID for the request. (default to 'tranquility')
    # @option opts [String] :if_modified_since The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
    # @return [Array<(CharactersCharacterIdSearchGet, Integer, Hash)>] CharactersCharacterIdSearchGet data, response status code and response headers
    def get_characters_character_id_search_with_http_info(categories, character_id, search, x_compatibility_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.get_characters_character_id_search ...'
      end
      # verify the required parameter 'categories' is set
      if @api_client.config.client_side_validation && categories.nil?
        fail ArgumentError, "Missing the required parameter 'categories' when calling SearchApi.get_characters_character_id_search"
      end
      if @api_client.config.client_side_validation && categories.length > 11
        fail ArgumentError, 'invalid value for "categories" when calling SearchApi.get_characters_character_id_search, number of items must be less than or equal to 11.'
      end

      if @api_client.config.client_side_validation && categories.length < 1
        fail ArgumentError, 'invalid value for "categories" when calling SearchApi.get_characters_character_id_search, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'character_id' is set
      if @api_client.config.client_side_validation && character_id.nil?
        fail ArgumentError, "Missing the required parameter 'character_id' when calling SearchApi.get_characters_character_id_search"
      end
      # verify the required parameter 'search' is set
      if @api_client.config.client_side_validation && search.nil?
        fail ArgumentError, "Missing the required parameter 'search' when calling SearchApi.get_characters_character_id_search"
      end
      if @api_client.config.client_side_validation && search.to_s.length < 3
        fail ArgumentError, 'invalid value for "search" when calling SearchApi.get_characters_character_id_search, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'x_compatibility_date' is set
      if @api_client.config.client_side_validation && x_compatibility_date.nil?
        fail ArgumentError, "Missing the required parameter 'x_compatibility_date' when calling SearchApi.get_characters_character_id_search"
      end
      # verify enum value
      allowable_values = ["2020-01-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(x_compatibility_date)
        fail ArgumentError, "invalid value for \"x_compatibility_date\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "de", "fr", "ja", "ru", "zh", "ko", "es"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/characters/{character_id}/search'.sub('{' + 'character_id' + '}', CGI.escape(character_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'categories'] = @api_client.build_collection_param(categories, :multi)
      query_params[:'search'] = search
      query_params[:'strict'] = opts[:'strict'] if !opts[:'strict'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Compatibility-Date'] = x_compatibility_date
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?
      header_params[:'X-Tenant'] = opts[:'x_tenant'] if !opts[:'x_tenant'].nil?
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CharactersCharacterIdSearchGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"SearchApi.get_characters_character_id_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#get_characters_character_id_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
