language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build ruby-esi.gemspec
  - gem install ./ruby-esi-1.36.2025.12.16.gem
